*,
*::before,
*::after {
	box-sizing: border-box !important;
}

:root {
	--background-light: #fff5f3;
	--primary: #ed9da8;
	--secondary: #fcdbd4;
	--tertiary: #4f435b;
	--background-light-2: #1f1d1c;
	--background-light-3: #070b10;
}

* {
	font-family: var(--font-dm-sans);
}

html {
	color-scheme: light;
	accent-color: var(--primary);
}

html,
body {
	margin: 0;
}

html:has(.loading-screen-wrapper.visible),
body:has(.loading-screen-wrapper.visible) {
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code {
	overflow-wrap: anywhere;
}

h1 {
	margin-block: 0.67em;
	font-size: 2em;
}

h1,
h2,
h3 {
	font-family: var(--font-dm-sans);
	font-weight: 200;
}

code {
	font-family: monospace;
}

button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
}

.serif,
.serif > * {
	font-family: var(--font-dm-serif-display);
}

.serif.italic {
	font-style: italic;
}
