---
import Badge from "@/components/Badge.astro";
import Peanut from "@/components/Peanut.astro";
import CTAButton from "@/components/CTAButton.astro";
import Layout from "@/layouts/Layout.astro";

import ComputerDesktop from "@/assets/svg/computer-desktop.svg";
import FaceSmile from "@/assets/svg/face-smile.svg";
---

<Layout title="DEE-ZNUTS">
	<section class="hero">
		<div class="hero-text">
			<!-- TODO: Make modifiable via content collection -->
			<Badge text="Unlimited Lang Works out now!" href="/work/unlimited-lang-works" />
			<h1>
				Making completely useless Integrations for <span class="serif italic">shits and giggles</span>
			</h1>
			<p>The Domain Expansion Extendable Zoomers-Notoriety Unification Tech Summit strives every day to bring the Astro community the worst integrations you can think of.</p>
			<CTAButton text="Read more" chevronDir="down" />
		</div>
		<Peanut />
	</section>
	<section class="stupid-questions">
		<div class="section-header">
			<Badge text="Anime References Galore">
				<ComputerDesktop width={24} height={24} />
			</Badge>
			<h2>We ask <span class="serif italic">stupid questions</span></h2>
		</div>
		<div class="questions-container">
			<div class="question">
				<div class="section-header">
					<span>Domain Expansion</span>
					<h3>What if Astro had <span class="serif">incremental builds</span>?</h3>
				</div>
				<p>An integration that allows you to cache parts of your Astro build for the next run. Works on Netlify, Vercel and NodeJS. You probably shouldn't use this.</p>
				<CTAButton text="I want to anyways" chevronDir="right" />
			</div>
			<div class="question">
				<div class="section-header">
					<span>Ultimate Lang Works</span>
					<h3>What if you could write <span class="serif">Rust in Astro</span>?</h3>
				</div>
				<p>An integration that allows you to write Rust, Python, Go and many more languages inside the Astro frontmatter. You probably shouldn't use this either.</p>
				<CTAButton text="Don't care, let me try" chevronDir="right" />
			</div>
		</div>
	</section>
	<section class="stupid-questions">
		<div class="section-header centered">
			<Badge text="Why yes we do know we're very funny thank you">
				<FaceSmile width={24} height={24} />
			</Badge>
			<h2>We make <span class="serif italic">stupid memes</span></h2>
		</div>
	</section>
</Layout>
<style>
	.hero {
		padding: 4rem 8rem;
		padding-bottom: 4rem;
		display: flex;
		background: var(--background-light);
		align-items: center;
		justify-content: space-between;
	}

	.hero-text {
		width: calc(50% - 4rem);
		min-width: 840px;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding: 16vh 0;
	}

	h1 {
		font-size: 90px;
		margin: 0;
	}

	.hero-text p {
		font-size: 1.5em;
	}

	h2 {
		font-size: 4em;
		margin: 0;
	}

	h3 {
		font-size: 2.5em;
		margin: 0;
	}

	.stupid-questions {
		padding: 4rem 8rem;
		padding-bottom: 4rem;
		background: var(--background-light);
	}

	.section-header {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		margin-bottom: 2rem;
	}

	.section-header.centered {
		align-items: center;
	}

	.questions-container {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	.section-header span {
		font-size: 1.25em;
	}

	.question {
		background-color: white;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 3rem;
		border-radius: 2rem;
	}

	.question p {
		font-size: 1.25em;
	}

	.question .section-header {
		margin: 0;
	}
</style>