---
import Cookie from '@/assets/svg/cookie.svg';
---
<div class="fake-cookies">
	<div class="icon-container">
		<Cookie />
	</div>
	<span class="popup-header">We don't even use cookies.</span>
	<p>Seriously. We just thought it'd be funny to put this here.</p>
	<button id="cookie-banner-btn">OK</button>
</div>
<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		const fakeCookieModal = document.querySelector(".fake-cookies");
		const cookieBannerBtn = document.querySelector("#cookie-banner-btn");

		if (!localStorage.getItem("cookies-noted")) {
			fakeCookieModal.classList.add("visible");
		}

		cookieBannerBtn.addEventListener("click", () => {
			fakeCookieModal.classList.remove("visible");
			localStorage.setItem("cookies-noted", 1);
		});
	});
</script>
<style>
	.fake-cookies {
		position: fixed;
		bottom: 2rem;
		right: 2rem;
		background-color: white;
		padding: 1.5rem;
		border-radius: 2rem;
		color: black;
		flex-direction: column;
		gap: 1rem;
		align-items: start;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.125);
		display: none;
	}

	.fake-cookies.visible {
		display: flex;
	}

	.icon-container {
		background-color: var(--tertiary);
		color: white;
		border-radius: .75rem;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.popup-header {
		font-size: 1.5em;
	}

	p {
		margin: 0;
	}

	button {
		font-size: 1em;
		padding: .75rem .5rem;
		background-color: var(--secondary);
		min-width: 80px;
		border-radius: .75rem;
		cursor: pointer;
		transition: all .15s ease;
	}

	button:hover {
		background-color: var(--primary);
	}
</style>
